@use './colors';

.cart-main {
  display: flex;
  justify-content: center;
}

.cart-container {
  margin: 40px;
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 800px;
}

.cart-content {
  width: 100%;
  margin: 40px;
  
  h2 {
    margin-bottom: 40px;
  }

  .total {
    text-align: right;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.cart-product {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  .cart-product-details {
    display: flex;
    gap: 10px;

    .cart-product-img {
      width: 100px;
    }

    .cart-product-name {
      display: flex;
      align-items: center;
      font-weight: 700;
    }
  }

  .cart-product-quantity {
    display: flex;
    align-items: center;
    gap: 20px;

    form {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    .cart-product-price {
      margin-left: auto;
    }
  }

  &:last-of-type {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

input {
  width: 40px;
}

button {
  border-style: none;
  height: 35px;
  width: 60px;
  transition: .2s;
  cursor: pointer;

  &.checkout-btn {
    width: 100%;
  }

  &:hover {
    background-color: colors.$accent;
    color: white;
  }

  &:active {
    background-color: colors.$accent-dark;
  }
}