@use './colors';

.home-main {
  background-image: url('~/public/img/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-family: 'Oswald';
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.shop-btn {
  border-style: none;
  width: 100px;
  height: 40px;
  transition: .5s;
  cursor: pointer;

  &:hover {
    background-color: colors.$accent;
    color: white;
  }
}