@use './colors';
@use './NavBar.scss';
@use './Home.scss';
@use './Shop.scss';
@use './Cart.scss';

body {
  margin: 0;
  font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors.$background-gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: colors.$accent;
  transition: .2s;

  &:hover {
    color: colors.$accent-light;
  }
}

main.error {
  display: flex;
  justify-content: center;

  .error-wrapper {
    text-align: center;
    margin-top: 100px;

    p {
      margin-bottom: 1rem;
    }

    a {
      font-weight: 700;
    }
  }
}