@use './colors';

.shop-main {
  background-color: colors.$background-gray;
  display: flex;
  justify-content: center;
}

.shop-container {
  margin: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 40px;
  width: 100%;
  max-width: 400px;

  @media screen and (min-width: 768px) {
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat((2, 1fr));
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    max-width: 1280px;
  }
}

.product-card {
  background-color: colors.$white;

  img {
    width: 100%;
  }

  .img-container {
    position: relative;

    &::after {
      content:'';
      position:absolute;
      width:100%; height:100%;
      top:0;
      left: 0;
      background-color: colors.$shadow;
      opacity:0;
      transition: 0.2s;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  .description {
    padding: 20px;

    a {
      color: black;
    }

    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    form {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        height: 20px;
        width: 40px;
      }

      button {
        border-style: none;
        width: 100px;
        height: 35px;
        transition: .2s;
        cursor: pointer;
      
        &:hover {
          background-color: colors.$accent;
          color: white;
        }

        &:active {
          background-color: colors.$accent-dark;
        }
      }
    }
  }
}